.NewItem {
  margin-bottom: 100px;
}

.NewItem .form-fields {
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.NewItem .form-fields .left-half {
  min-width: 300px;
}

.NewItem .form-fields .full-width {
  width: 100%;
}

.NewItem .page-header h1 {
  text-transform: capitalize;
}

@media all and (min-width: 800px) {
  .NewItem .form-fields .left-half {
    padding-right: 60px;
    min-width: 400px;
  }

  .NewItem .form-fields .right-half {
    padding-left: 60px;
    border-left: solid 1px #eee;
    min-width: 500px;
  }
}

.NewItem form textarea {
  height: 200px;
}

.NewItem input[type=file]{ 
  color: transparent;
}
