.wysiwyg-editor {
  border: solid 1px #ced4da;
  border-radius: .25rem;
}

.wysiwyg-editor-toolbar {
  margin-bottom: 0px;
  border: none;
  border-bottom: solid 1px #ced4da;
}

.wysiwyg-editor-content {
  min-height: 300px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.wysiwyg-editor-content * {
  font-family: 'Rubik', sans-serif !important;
  color: #333 !important;
}
