.App {
  margin-top: 15px;
}

.App .navbar {
  border-bottom: solid 1px #eee;
  background-color: white;
}

.App .navbar-brand .nav-link {
  color: rgba(0, 0, 0, .5);
}

.App .navbar-brand .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.App .navbar-collapse {
  justify-content: flex-end;
}
