.App {
  margin-top: 15px;
}

.App .navbar {
  border-bottom: solid 1px #eee;
  background-color: white;
}

.App .log-in-or-out {
  color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 16px;
  right: 24px;
}

.App .nav-link {
  color: rgba(0, 0, 0, .5);
  text-transform: capitalize;
  margin-right: 15px;
}

.App .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.App .log-in-or-out:hover {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
